
.navbar {
    background-image: var(--bs-gradient);
    border-radius: 10px;
    .navbar-brand {
    color: $color-principal;
    }
    .nav-link {
    color: $color-principal;
    &.active {
        font-weight: bold;
    }
    }
}