@mixin cards {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}
@mixin redes-sociales {
    .redesSociales {
        margin-top: 10px;
        background-image: var(--bs-gradient);
        border-radius: 10px;
    }
    .iconos {
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
    }
    .bi {
        font-size: 50px;
        margin-left: auto;
        align-self: flex-start;
    }
    
    .bi-facebook {
        color: #888888;
    }
    .bi-instagram {
        color: #888888;} 
    .bi-youtube {
        color: #888888;
    }
}
