@import "variables";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #1d202b;
    color: black;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    h1 {
      color: $color-principal;
      background-image: url(/assets/img/banner1.png);
      border-radius: 10px;
      min-height: 300px;
      font-weight: bold;
      padding: 30px;
      padding-top: 100px;
      position: relative;
      overflow: hidden;
      background-size: cover;
    }
  }
  .navbar {
    background-image: var(--bs-gradient);
    border-radius: 10px;
    .navbar-brand {
      color: $color-principal;
    }
    .nav-link {
      color: $color-principal;
      &.active {
        font-weight: bold;
      }
    }
  }
  .container text-center {
    display: grid;
    grid-auto-rows: auto;
  }
  .row {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
  .col {
    background-image: radial-gradient(
      circle at 50% -20.71%,
      #585854 0,
      #2d3253 50%,
      #171e2b 100%
    );
    border-radius: 10px;
    justify-content: space-around;
    width: 48%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  img {
    width: 400px;
    height: 350px;
    border-radius: 5px;
  }
  .redesSociales {
    margin-top: 10px;
    background-image: var(--bs-gradient);
    border-radius: 10px;
  }
  .iconos {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
  }
  .bi {
    font-size: 50px;
    margin-left: auto;
    align-self: flex-start;
  }
  
  .bi-facebook {
    color: #888888;
  }
  
  .bi-instagram {
    color: #888888;
  }
  
  .bi-youtube {
    color: #888888;
  }
  .derechos {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-top: 10px;
    font-size: 14px;
    align-self: flex-start;
  }
  .derechos p {
    font-size: 14px;
    color: #888888;
  }
  .derechos i {
    font-size: 14px;
    color: #888888;
    margin-left: 5px;
  }
  